<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">List of Whitelisted IP</h4>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <form class="row w-100">
            <div class="input-group no-border w-25">
              <input type="text" value="" class="form-control" placeholder="Filter">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split search-icon"></i>
                </div>
              </div>
            </div>
            <div class="ml-auto">
              <button class="btn btn-success btn-round" (click)="addWhitelist()">
                <i class="nc-icon nc-simple-add pr-2 pl-0"></i>Add Whitelist IP
              </button>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="ipAddress">
              <th mat-header-cell *matHeaderCellDef> IP Address </th>
              <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="addedBy">
              <th mat-header-cell *matHeaderCellDef> Added By </th>
              <td mat-cell *matCellDef="let element"> {{element.addedBy}} </td>
            </ng-container>
            <ng-container matColumnDef="addedDate">
              <th mat-header-cell *matHeaderCellDef> Added Date</th>
              <td mat-cell *matCellDef="let element"> {{element.addedDate | date:'medium' }} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="delete-btn" (click)="deleteWhitelist(i)">
                    <i class="nc-icon nc-simple-remove action-icon"></i>
                    <span>Delete Whitelist</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <div *ngIf="dataSource.data.length == 0" class="mt-2 d-flex justify-content-center">
             <!-- <i class="nc-icon nc-alert-circle-i mr-1 align-self-center"></i> -->
             <p class="nc-icon mb-0 align-self-center"><em>No items found!</em></p>
          </div>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>

