mat-card {
    margin: auto;
    width: 90%;
    position: relative;
    display: inline-block;
    background-color: white;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
.centerbutton {
  margin: auto;
  width: 55px;
}

  mat-card-content {
    background-color: white;
}
.example-button-container {
  display: flex;
  margin: auto;
  width: auto;
}