    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">List of User</h4>
            </div>
            <div class="card-body">
              <div class="container-fluid">
                <form class="row w-100">
                  <div class="input-group no-border w-25">
                    <input type="text" value="" class="form-control" placeholder="Filter">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split search-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="ml-auto">
                    <button class="btn btn-success btn-round" (click)="addUserDialog()">
                      <i class="nc-icon nc-simple-add pr-2 pl-0"></i>Add User
                    </button>
                  </div>
                </form>
              </div>
              <div class="table-responsive">
                <table mat-table [dataSource]="userData">
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                  </ng-container>
                  <ng-container matColumnDef="E-mail">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item class="start-btn" (click)="editUserDialog(element.userID)">
                            <i class="nc-icon nc-ruler-pencil action-icon"></i>
                            <span>Edit User</span>
                        </button>
                        <button mat-menu-item class="stop-btn" (click)="deleteSalary(element.userID)">
                            <i class="nc-icon nc-simple-remove action-icon"></i>
                            <span>Delete User</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
                </table>
                <div *ngIf="userData.length == 0" class="mt-2 d-flex justify-content-center">
                   <!-- <i class="nc-icon nc-alert-circle-i mr-1 align-self-center"></i> -->
                   <p class="nc-icon mb-0 align-self-center"><em>No items found!</em></p>
                </div>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      
      