<div class="center">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="userData">
                <div class="example-button-row" >
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let data; let i = index">{{i+1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Username">
                        <th mat-header-cell *matHeaderCellDef>Username</th>
                        <td mat-cell *matCellDef="let data">{{data.username}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Role">
                        <th mat-header-cell *matHeaderCellDef>Role</th>
                        <td mat-cell *matCellDef="let data">{{data.role}}</td>
                    </ng-container>
                    <ng-container matColumnDef="E-mail">
                        <th mat-header-cell *matHeaderCellDef>E-mail</th>
                        <td mat-cell *matCellDef="let data">{{data.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let data">
                            <div class="example-button-container">
                                <div class="centerbutton">
                                    <button mat-raised-button color="primary" (click)="editUserDialog(data.userID)">Edit</button>
                                </div>
                                <div class="centerbutton">
                                    <button (click)="deleteSalary(data.userID)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                                        <mat-icon>delete</mat-icon></button>
                                </div>
                            </div>
                        </td>
                    </ng-container>                        
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </mat-card-content> 
    </mat-card>
    <mat-card>
        <button mat-raised-button color="primary" (click)="addUserDialog()">Add User</button>
    </mat-card>