<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Add IP Address</h5>
      </div>
      <div class="card-body">
        <mat-tab-group class="pl-2 pr-2" mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Manual Add">
            <ip-upload-cmp></ip-upload-cmp>
          </mat-tab>
          <mat-tab label="Excel Upload">
            <excel-upload-cmp></excel-upload-cmp>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
