/* @import './assets/scss/paper-dashboard/_variables.scss'; */

/* $primary-color:              #51cbce !default;
$primary-states-color:       darken($primary-color, 10%) !default;

$success-color:              #6bd098 !default;
$success-states-color:       darken($success-color, 10%) !default;

$info-color:                 #51bcda !default;
$info-states-color:          darken($info-color, 10%) !default;

$warning-color:              #fbc658 !default;
$warning-states-color:       darken($warning-color, 10%) !default;

$danger-color:               #ef8157 !default;
$danger-states-color:        darken($danger-color, 8%) !default;

$link-disabled-color:        #666666 !default;

$purple-color:               #c178c1 !default;
$purple-states-color:        darken($purple-color, 8%) !default; */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --primary-color:#51cbce;
  --success-color:#6bd098;
  --info-color:#51bcda;
  --warning-color:#fbc658;
  --danger-color: #ef8157;
  --purple-color:#c178c1;

}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(0, 0, 0) !important;
}

.h-70 {
  height: 70% !important;
}

.w-30 {
  width: 30% !important;
}

.chip-pending {
  background-color: #fff8dd !important;
  color: #ffc700 !important;
}

.chip-saved {
  background-color: #e8fff3 !important;
  color: #009ef7 !important;
}

.chip-approved {
  background-color: #e8fff3 !important;
  color: #50cd89 !important;
}

.chip-revert {
  background-color: #fff5f8 !important;
  color: #f1416c !important;
}

.chip-primary {
  background-color: #00A19C !important;
  color: #ffffff !important;
}

.file-icon {
  transform: scale(0.5);
}

.sidebar[data-active-color=danger] .nav li.active > a, .sidebar[data-active-color=danger] .nav li.active > a i, .sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse], .sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] i, .sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] ~ div > ul > li.active .sidebar-mini-icon, .sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] ~ div > ul > li.active > a, .off-canvas-sidebar[data-active-color=danger] .nav li.active > a, .off-canvas-sidebar[data-active-color=danger] .nav li.active > a i, .off-canvas-sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse], .off-canvas-sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] i, .off-canvas-sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] ~ div > ul > li.active .sidebar-mini-icon, .off-canvas-sidebar[data-active-color=danger] .nav li.active > a[data-toggle=collapse] ~ div > ul > li.active > a {
      color: var(--success-color) !important;
}

.footr {
  height: 30px;
}
