<div class="container-fluid footr">
  <!-- <nav class="pull-left">
    <ul>
      <li><a href="https://www.creative-tim.com"> Creative Tim </a></li>
      <li><a href="http://blog.creative-tim.com"> Blog </a></li>
      <li><a href="https://www.creative-tim.com/license"> Licenses </a></li>
    </ul>
  </nav> -->
  <div class="nc-icon copyright pull-right">Copyrights Reserved {{currentYear}} ©
    <!-- <a href="https://www.facebook.com/RaverlusiGaming">Raverlusi Sdn Bhd</a> -->
    Raverlusi Sdn Bhd
  </div>
</div>
